.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 2rem;
  padding: 16px;
  width: 100px;
  height: 100px;
}

.calcRow {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}
